In [2]:
# Series Pandas

# One deimensional ndarray with axis labels.

# Pandas makes possible to label indexes instead of working with number indexes.
# The data is still indexed by numbers.

In [3]:
import numpy as np

In [5]:
import pandas as pd

In [7]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

In [12]:
myser = pd.Series(data= mydata, index = myindex)

In [13]:
type(myser)

pandas.core.series.Series

In [16]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [17]:
myser[0]

1776

In [18]:
myser['USA']

1776

In [19]:
AGES = {'Sam': 5, 'Frank': 10, 'Spike':7}

In [20]:
pd.Series(AGES)

Sam       5
Frank    10
Spike     7
dtype: int64