In [1]:
# PANDAS Series Part Two

# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [2]:
import numpy as np
import pandas as pd

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [3]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [4]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [5]:
sales_q1['Japan']

80

In [6]:
sales_q1[0]

80

In [7]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [9]:
np.array([1,2]) * 2

array([2, 4])

In [11]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [12]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [17]:
first_half = sales_q1.add(sales_q2, fill_value = 0)

In [16]:
sales_q1.dtype

dtype('int64')

In [19]:
first_half.dtype

dtype('float64')