In [4]:
# INNER MERGE
# .merge()  Argument how
# .merge(how = inner / outer / left or right)
# merge method make an intersecion between two tables.

In [6]:
import numpy as np
import pandas as pd

registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [7]:
registrations

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

In [8]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [10]:
# help(pd.merge)

In [11]:
pd.merge(registrations,logins, how = 'inner', on = 'name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4