In [1]:
# TEXT METHODS FOR STRINGS

import numpy as np
import pandas as pd

In [3]:
email = 'hapzek.94@hotmail.com'

In [4]:
email.split('@')

['hapzek.94', 'hotmail.com']

In [5]:
names = pd.Series(['andrew', 'bob', 'claire', 'david', '5'])

In [6]:
names

0    andrew
1       bob
2    claire
3     david
4         5
dtype: object

In [7]:
names.str.upper()

0    ANDREW
1       BOB
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
email.isdigit()

False

In [11]:
# When working with pandas string objects, we can "analize" each element of the series.
# We can't do this with python normal strings.

names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
names[names.str.isdigit()]

4    5
dtype: object

In [12]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [13]:
len(tech_finance)

2

In [14]:
tickers = pd.Series(tech_finance)

In [15]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [16]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [18]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [21]:
# If I want to make a datframe out of this, I only need to add the argument expand = True

tickers.str.split(',', expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [22]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '   claire   '])

In [23]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [26]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [27]:
# We can use one lne commands like or functions to do the same stuff we did earlier.

def cleanup(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object