In [1]:
# PANDAS I/O Guide

import pandas as pd

In [2]:
# If we're not working on jupyter notebook and we want to know the directory location were
# we are working, we can: import os

import os
os.getcwd()

'f:\\Machine Learning\\ML Udemy'

In [17]:
df = pd.read_csv('F:\\Machine Learning\\ML Udemy\\Course Notebooks\\03-Pandas\\example.csv')

In [4]:

df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
# Pandas tries to interpretate the information inside de csv files, and they propose a 
# header. If we don't want what Python selected as a header, we can add header = None, argument.
# This will convert the (a,b,c,d) row from header to information inside our dataframe.
df = pd.read_csv('F:\\Machine Learning\\ML Udemy\\Course Notebooks\\03-Pandas\\example.csv', header = None)

In [9]:
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [21]:
# When writting a file, we can select to save the index changes or to not.

df.to_csv('F:\\Machine Learning\\ML Udemy\\newfile.csv', index = False)

In [19]:
new = pd.read_csv('F:\\Machine Learning\\ML Udemy\\newfile.csv')

In [20]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15